Escaping bug in SPARQL CONSTRUCT queries

If I have a URI with an apostrophe in it, Virtuoso handles this just fine in SELECT, INSERT, etc. For example,

```
select <http://a'> where { }
```

returns the URI unchanged. Which is correct, since apostrophe is an allowed character in URIs (RFC 2396, section 2.3, production "mark").

However, if I do

```
construct { <http://a'> <http:/b> <http:/c> } where { }
```

then I get back http://a\u0027 which is doubly wrong. It's wrong because that's not the way to escape characters in URIs, and because this character shouldn't be escaped at all.


Hi Lars, Development are looking into this and will report back ...


Sorry, that's not an URI escaping. Turtle has its own way of escaping characters, the http://www.w3.org/TR/turtle/ spec lists it as production
[26]    UCHAR   ::=     '\u' HEX HEX HEX HEX | '\U' HEX HEX HEX HEX HEX HEX HEX HEX
The production [18] IRIREF of same spec prohibits the use of not escaped null, control codes, space and chars '<' '>' '"' '{' '}' '|' '^' '`' '\' but does not limit the use of \u notation. Say, it's formally correct to u-escape all characters of all angle-bracneted IRIs, even if it's user-unfriendly. It's also correct to escape more than the required minimum to provide workaround for some syntax highlighters etc.
So if you want to read Turtle files you should use a Turtle parser that pays attention to \u and \U .

P.S. Believe it or not, Virtuoso supports 18 different methods of escaping strings, for different purposes. ( If you have sources of Virtuoso Open Source at hands, the related code is in file libsrc/Wi/dks_esc.c ). No doubt, there may be errors there, esp. if specs evolve. OTOH I'd be kicked by many angry users if I break a popular serialization like the Turtle one :)
