SPARQL LOAD SERVICE <valid sparql 1.1 endpoint> not detected due to invalid IRI in queries

In the procedure DB.DBA.SPARQL_SD_PROBE  there are probe queries which use an IRI
`<no-such-g-qazxswedc>` some endpoints complain that this is not a valid full IRI. 
I think they are right and this can be solved by using e.g.
 `<info:no-such-g-qazxswedc>` instead. 

This improves the detected capability from 0 to "00002520" for at least one RDF4J based SPARQL endpoint on the web.

@JervenBolleman @iv-an-ru 

The `info:` URI scheme is [IANA-registered](https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml) and [RFC-specified](https://tools.ietf.org/html/rfc4452), and should not be used in this way.

It appears that the `example:` scheme would be a better choice, based on [RFC7595](https://tools.ietf.org/html/rfc7595#section-8).

@TallTed @iv-an-ru good point regarding example: let me fix that

https://www.w3.org/TR/sparql11-query/#iriRefs states

>Text matched by the IRIREF production and PrefixedName (after prefix expansion) production, after escape processing, must conform to the generic syntax of IRI references in section 2.2 of RFC 3987 "ABNF for IRI References and IRIs" [RFC3987]. For example, the IRIREF <abc#def> may occur in a SPARQL query string, but the IRIREF <abc##def> must not.

As only --

>Base IRIs declared with the BASE keyword must be absolute IRIs

-- and other may be any, it is quite practical to ensure that the remote endpoint can tolerate formally valid garbage in user's data.

In theory, it may be possible to recover from this incompatibility at Virtuoso's side, by inspecting the query and the arguments that are about to be sent to remote and not sending things with garbage, assuming empty results of all BGPs with such IRIs, but the required code is too bulky and some garbage will continue to stay outside the carpet, not under it.

Half-fix is a separate probe for `<no-such-g-qazxswedc>`, the use of `<http://example.com/no-such-g-qazxswedc>` in the rest of probes, and introducing commonly useful `QUIET` option for `SERVICE` to suppress remote's errors if it stuck with something, including garbage IRIs. This is inexpensive and can be scheduled, indeed.

@IvanMikhailov Interesting that is not how I would have read the specs. Nor how I would practically expected it to work. In any case at the moment it leads to serious underestimation of remote endpoint capabilities, which seems to me a bigger issue than testing if remote endpoints accept garbage ;) 

I also intended to fill in test cases with Cyrillic and other i18n and l10n but decided to say ASCII, in the very last moment, to make related error messages readable for everyone. I wonder whether that i18n would mean a "penalty" for some endpoints too.

@IvanMikhailov Do you have a feature flag that I can use? happy to add a query for it.
Can probably just use text with a smiley and an IRI with wide latin 'A'.

There's no flag but you can edit the test queries as you please (by patching the exe or overwriting the probe procedure). Just keep the triple patterns weird enough to make test queries compiler-friendly and index-friendly and to make long replies less probable.

As an "ultima ratio", you can always handwrite any desired `virtrdf:dialect` and `virtrdf:dialect-exceptions` properties to the storage with `SPARQL WITH virtrdf: INSERT {...}` and then four `DB.DBA.SECURITY_CL_EXEC_AND_LOG()` as at the end of `DB.DBA.SPARQL_SD_PROBE()`.

Alternatively, you may use per-service-invocation tuning like
`SERVICE <http://dbpedia.org/sparql> (define lang:dialect 14307) { ?s ?p ?o ... }`



My use case is to have the most number of valid SPARQL 1.1. queries being propagated to federation partners. Too often (IMHO) Virtuoso falls back to the lowest common denominator requiring users to jump through hoops. If you accept this patch this will occur very much less.

For our end users we don't want to expose anything other than the SPARQL 1.1. syntax. Plus asking them to know `SERVICE`, and `define lang:dialect` codes seems like a bridge to far.

@JervenBolleman Thank you again for your contribution to this project.

I just committed patch https://github.com/openlink/virtuoso-opensource/commit/58338d282653039fb049706197f16d9fcd899323 to the develop/7 branch that solves your problem but uses a `urn:virtuoso:sparql:fed:probe:XXX` based pattern.